<div class="container-fluid" id="issues">
  <div class="container-fluid">
    <div class="title_box">
      <h4 class="issue_title">あるLinuxコマンドを別のLinuxディストリビューションでも動かしたい</h4>
    </div>
    <div class="row steps_box">
      <div class="col-lg-4 col-xs-12">
        <div class="step_title_box">
          <h4 class="step_title">1.DBを作成</h4>
        </div>
        <div class="each_step">
          <step-circle></step-circle>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="step_title_box">
          <h4 class="step_title">2.RubyでDBをラップして該当するクエリを投げる</h4>
        </div>
        <div class="each_step">
          <step-circle></step-circle>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="step_title_box">
          <h4 class="step_title">3.コマンドラインで操作できるインターフェイスを作成</h4>
        </div>
        <div class="each_step">
          <step-circle></step-circle>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'javascript/steps_vue.js' %>
