.container-fluid
  .container-fluid
    .title_box
      h4.hoge
        | あるLinuxコマンドを別のLinuxディストリビューションでも動かしたい
    #steps.row.steps_box
      .col-lg-4.col-md-12
        .step_title_box
          h4.step_title
            | 1.DBを作成
        .each_step
          step-circle
      .col-lg-4.col-md-12
        .step_title_box
          h4.step_title
            | 2.RubyでDBをラップして該当するクエリを投げる
        .each_step
          step-circle
      .col-lg-4.col-md-12
        .step_title_box
          h4.step_title
            | 3.コマンドラインで操作できるインターフェイスを作成
        .each_step
          step-circle
= javascript_pack_tag 'javascript/steps_vue.js'
