.box {
  align-items: center;
  padding-top: 20px;
}
.new_issue_box {
  margin: auto;
  padding-top: 50px;
  .new_issue {
    align-items: center;
    display: flex;
    width: 250px;
    border-bottom: solid 1px #ffffff;
    opacity: 0.5;
    margin: 0 auto;
    span {
      padding-left: 30px;
      font-size: 18px;
      color: #ffffff;
    }
  }
}
.status_filter_box {
  padding-top: 50px;
}

.status_select {
  color: #ffffff;
}

.issue_title {
  font-size: 18px;
}

.issues {
  padding:30px 15px;
}

.each_issue {
  margin-top: 48px;
  margin-bottom: 24px;
}
