@import "../../../../../node_modules/vue-material/dist/theme/engine";

@include md-register-theme("default", (
        background: #272A3D,
        primary: #4CAF50,
        theme: dark
));

@import "../../../../../node_modules/vue-material/dist/theme/all";
