.spring {
  background: rgb(249,241,244);
  color: rgb(146,64,93);
}

.summer {
}

.fall {
}

.winter {
}

.page_title_box {
  padding: 20px 0;
  .page_title {
    margin: 0;
    color: rgb(146, 64, 93);
  }
}
