html, body {
  //重要じゃないやつで高さを調整する
  //font-famillyは@importで読み込んでいる、GoogleのRobotoフォントが適用される
  height: 100%;
}

.application_header {
  width: 100vw;
  height: 7%;
  display: flex;
  background-color: rgba(60,120,230,0.2);
  .logo { color: rgb(146,64,93); }
  ul.navbar-nav_extend {
    margin-left: 10px;
    li {
      color: rgb(146,64,93);
      a  {
        color: rgb(146,64,93);
        &:hover {
          color: rgb(146,64,93);
          background-color: rgba(255, 102, 204, 0.2) !important;
        }
      }
    }
  }
}

.spring {
  height: 93%;
  background: rgb(249,241,244);
  color: rgb(146,64,93);
}

.summer {
}

.fall {
}

.winter {
}

.page_title_box {
  padding: 20px 0;
  .page_title {
    margin: 0;
    color: rgb(146, 64, 93);
  }
}
