#sakura .inner div.delayed_flake1,
#sakura .inner div.delayed_flake3,
#sakura .inner div.delayed_flake6,
#sakura .inner div.delayed_flake7,
#sakura .inner div.delayed_flake8,
#sakura .inner div.delayed_flake11,
#sakura .inner div.delayed_flake13,
#sakura .inner div.delayed_flake15,
#sakura .inner div.delayed_flake19,
#sakura .inner div.delayed_flake21 {
  background-size: 5px 6px !important;
}

.delayed_flake1 {
  left: 2%;
  animation-duration: 4.5s;
  animation-delay: 2.2s;
}

.delayed_flake2 {
  left: 4%;
  animation-duration: 3.7s;
  animation-delay: 2.2s;
}

.delayed_flake3 {
  left: 6%;
  animation-duration: 2.9s;
  animation-delay: 2.4s;
}

.delayed_flake4 {
  left: 8%;
  animation-duration: 4.4s;
  animation-delay: 2s;
}

.delayed_flake5 {
  left: 10%;
  animation-duration: 3.4s;
  animation-delay: 3s;
}

.delayed_flake6 {
  left: 15%;
  animation-duration: 4.2s;
  animation-delay: 1.6s;
}

.delayed_flake7 {
  left: 17%;
  animation-duration: 4.7s;
  animation-delay: 1.2s;
}

.delayed_flake8 {
  left: 23%;
  animation-duration: 3.4s;
  animation-delay: 1.9s;
}

.delayed_flake9 {
  left: 25%;
  animation-duration: 4.5s;
  animation-delay: 2s;
}

.delayed_flake10 {
  left: 29%;
  animation-duration: 4.7s;
  animation-delay: 2.2s;
}

.delayed_flake11 {
  left: 32%;
  animation-duration: 4.9s;
  animation-delay: 2.4s;
}

.delayed_flake12 {
  left: 35%;
  animation-duration: 4.4s;
  animation-delay: 2s;
}

.delayed_flake13 {
  left: 38%;
  animation-duration: 4.5s;
}

.delayed_flake14 {
  left: 42%;
  animation-duration: 4.7s;
  animation-delay: 2.2s;
}

.delayed_flake15 {
  left: 45%;
  animation-duration: 4.9s;
  animation-delay: 2.4s;
}

.delayed_flake16 {
  left: 47%;
  animation-duration: 4.4s;
  animation-delay: 2s;
}

.delayed_flake17 {
  left: 50%;
  animation-duration: 4.4s;
  animation-delay: 3s;
}

.delayed_flake18 {
  left: 53%;
  animation-duration: 4.2s;
  animation-delay: 1.2s;
}

.delayed_flake19 {
  left: 60%;
  animation-duration: 4.7s;
  animation-delay: 0.9s;
}

.delayed_flake20 {
  left: 61%;
  animation-duration: 5s;
  animation-delay: 1.8s;
}

.delayed_flake21 {
  left: 65%;
  animation-duration: 4.5s;
  animation-delay: 2s;
}

.delayed_flake22 {
  left: 69%;
  animation-duration: 4.7s;
  animation-delay: 2.2s;
}

.delayed_flake23 {
  left: 72%;
  animation-duration: 4.9s;
  animation-delay: 2.4s;
}

.delayed_flake24 {
  left: 75%;
  animation-duration: 4.4s;
  animation-delay: 2.2s;
}


.delayed_flake25 {
  left: 78%;
  animation-duration: 4.9s;
  animation-delay: 2.4s;
}

.delayed_flake26 {
  left: 83%;
  animation-duration: 4.4s;
  animation-delay: 2s;
}

.delayed_flake27 {
  left: 85%;
  animation-duration: 4.4s;
  animation-delay: 3s;
}

.delayed_flake28 {
  left: 88%;
  animation-duration: 4.2s;
  animation-delay: 1.2s;
}

.delayed_flake29 {
  left: 91%;
  animation-duration: 4.7s;
  animation-delay: 0.9s;
}

.delayed_flake30 {
  left: 93%;
  animation-duration: 4.5s;
  animation-delay: 2.2s;
}

.delayed_flake31 {
  left: 96%;
  animation-duration: 3.7s;
  animation-delay: 2.2s;
}

.delayed_flake32 {
  left: 99%;
  animation-duration: 2.9s;
  animation-delay: 2.4s;
}
