label {
  color: rgba(255, 102, 204, 0.6);
}

.login_form {
  max-width: 300px;
}

//input {
//  -webkit-appearance: none;
//  outline: 0;
//  cursor: text;
//  border-radius: 2px;
//  width: 20%;
//  //background-color: rgba(255, 102, 204, 0.2);
//  //background-color: #f9f1f4;
//  background-color: rgba(146,64,93, 0.2);
//}
select {
  background-color: rgba(146,64,93, 0.2);
}

.submit_button {
  padding: 2px !important;
  background-color: rgba(255, 102, 204, 0.2) !important;
  color: rgb(146,64,93) !important;
  border-radius: 6px !important;
}
