// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  width: 100vw;
  height:calc(100vh - 50px);
  button {
    padding: 2px !important;
    background-color: rgba(255, 102, 204, 0.2) !important;
    color: rgb(146,64,93) !important;
    border-radius: 6px !important;
    outline: none;
  }
}

.container {
  max-width: 750px;
  #all_tasks {
    h1 {
      margin: 0 auto;
      padding-top: 2rem;
      text-align: center;
    }
    .fillters {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 2rem;
      .tasks_sort {
        display: flex;
        .order {
          margin-right: 1rem;
        }
      }
    }
    .tasks_search {
      .search_form {
        display: flex;
        margin-bottom: 1rem;
        .query {
          margin-right: 1rem;
          input {
            -webkit-appearance: none;
            outline: 0;
            cursor: text;
            border-radius: 1px;
            background-color: rgba(146,64,93, 0.2);
          }
        }
        .status {
          padding-top: 0.3rem;
          select {
            background-color: rgba(146,64,93, 0.2);
          }
        }
      }
      .submit {
        text-align: right;
      }
    }
    table, th, td {
      border: none;
      margin: 0 auto;
      margin-bottom: 2rem;
      .head {
        text-align: center;
      }
      .title {
        word-wrap: break-word;
        max-width: 150px;
      }
    }
    #paginated_tasks{
      margin-bottom: 2rem;
    }

    #paginator {
      width: 230px;
      margin: 0 auto;
    }
  }
}
